.btn {
   border-radius: 6px;
   border: 1px solid transparent;
   cursor: pointer;
   transition: all 0.3s ease;
}
.btn:active {
   outline: none;
   transform: scale(0.95);
}
.btn:focus {
   outline: none;
}

.btn.btn-primary {
   display: inline-flex;
   padding: 8px 32px;
   align-items: center;
   justify-content: center;
   gap: 10px;
   flex-shrink: 0;
   background: #2e5bff;
   color: #fff;
   font-size: 15px;
   font-style: normal;
   font-weight: 500;
   line-height: 21px;
}
.btn.btn-primary:hover {
   background-color: #314a9d;
}
.btn.btn-secondary {
   display: inline-flex;
   padding: 8px 32px;
   align-items: center;
   gap: 4px;
   flex-shrink: 0;
   border-radius: 5px;
   border: 1px solid #b2b7c1;
   color: #b2b7c1;
   font-feature-settings: "clig" off, "liga" off;
   font-family: "SF Pro Text", "Arial", sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: -0.35px;
}
.btn.btn-secondary:hover{
   background-color: #edf1fd;
}
.btn.btn-ordinary {
   color: #3365fc;
   font-feature-settings: "clig" off, "liga" off;
   font-family: "SF Pro Text", "Arial", sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: -0.35px;
   border-radius: 5px;
   background: #edf1fd;
   display: flex;
   text-align: center;
   padding: 8px 32px;
   gap: 10px;
}
.btn.btn-ordinary:hover {
   background-color: rgba(51, 102, 255, 0.3);
}
.btn.btn-danger {
   color: #ff4945;
   font-feature-settings: "clig" off, "liga" off;
   font-family: "SF Pro Text";
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px; /* 171.429% */
   letter-spacing: -0.35px;
   border-radius: 5px;
   background: #ffeceb;
   display: inline-flex;
   padding: 8px 32px;
   align-items: center;
   gap: 4px;
   flex-shrink: 0;
}

.btn.btn-danger:hover {
   background-color: rgba(255, 73, 69, 0.3);
}
