<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Talaba haqida</title>
      <link rel="stylesheet" href="../../button/button.css" />
      <link rel="stylesheet" href="../add-students/add-students.css" />
      <link rel="stylesheet" href="../../../assets/css/style.css" />
      <link
         rel="stylesheet"
         href="../../../pages/admin-panel/admin-panel.css" />
      <link rel="stylesheet" href="./student-detail.css" />
   </head>
   <body class="body">
      <div class="student-detail-wrapper">
         <header class="detail-header">
            <span class="">
               <img
                  class="to-back"
                  src="../../../../assets/img/arrow-icons/to-back.svg"
                  alt="" />
               <h2 class="current-student-name">
                  Isfandiyorov Iqbol Bobomirzayevich
               </h2>
            </span>
            <button class="btn btn-ordinary add-sponsor-btn">+ Homiy qo‘shish</button>
         </header>
         <main class="detail-main">
            <div class="detail-wrapper">
               <section>
                  <div class="flex justify-between mb-8">
                     <h2 class="main__title">Talaba haqida</h2>
                     <button class="btn btn-ordinary edit-student-btn">
                        <img
                           src="../../../assets/img/crud/edit-icon.svg"
                           alt="Edit Icon" />
                        Tahrirlash
                     </button>
                  </div>
                  <h3 class="s-detail__subtitle">Asosiy ma’lumotlar</h3>
                  <div class="flex gap-5">
                     <img
                        class="student-logo"
                        src="../../../assets/img/student-logo.svg"
                        alt="" />
                     <h3 class="student-name detail-text">
                        Isfandiyorov Iqbol Bobomirzayevich
                     </h3>
                  </div>
                  <div class="">
                     <label class="secondary-title">telefon raqam</label>
                     <span class="student__tel-number detail-text"
                        >+998 99 973-72-60</span
                     >
                  </div>
                  <div class="s-detail__subtitle">
                     O‘qish joyi haqida ma’lumot
                  </div>
                  <div class="education-wrapper">
                     <div class="">
                        <label class="secondary-title">OTM</label>
                        <span class="detail-text"
                           >O’zbekiston davlat jahon tillari universiteti</span
                        >
                     </div>
                     <div class="">
                        <label class="secondary-title">Talabalik turi</label>
                        <span class="detail-text">Bakalavr</span>
                     </div>
                     <div class="">
                        <label class="secondary-title"
                           >Ajratilingan summa</label
                        >
                        <span class="detail-text">14 000 000 UZS</span>
                     </div>
                     <div class="">
                        <label class="secondary-title">Kontrakt miqdori</label>
                        <span class="detail-text">30 000 000 UZS</span>
                     </div>
                  </div>
               </section>
               <section>
                  <header class="flex justify-between">
                     <h2>Talabaga homiylar</h2>
                     <button class="btn btn-ordinary add-sponsor-btn">+ Homiy qo‘shish</button>
                  </header>
                  <div class="table-wrapper">
                     <table class="table">
                        <thead class="thead">
                           <tr class="trow">
                              <th>#</th>
                              <th>f.i.sh</th>
                              <th>Ajratilingan summa</th>
                              <th>Amallar</th>
                           </tr>
                        </thead>
                        <tbody class="tbody">
                           <tr class="trow">
                              <td>1</td>
                              <td>Saimov Rustam Saimjonovich</td>
                              <td>1 000 000 UZS</td>
                              <td>
                                 <img class="edit-sponsor-btn"
                                    src="../../../assets/img/crud/edit-icon.svg"
                                    alt="" />
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </section>
            </div>
         </main>
      </div>
   </body>
</html>
