.filter-sponsors-modal {
   display: flex;
   flex-direction: column;
   max-width: 586px;
   border-radius: 12px;
   background: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 28px;
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
   z-index: 20;
}

.filter-sponsors-form__footer {
   display: flex;
   justify-content: end;
   gap: 16px;
}
