.filter-sponsors-form {
   display: flex;
   flex-direction: column;
   max-width: 586px;
   border-radius: 12px;
   background: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 28px;
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
   z-index: 20;
}
.filter-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 2px solid #F5F5F7;
   margin-bottom: 28px;
}
.filter__title {
  color: var(--Dark-Dark-400, #28293D);
font-feature-settings: 'clig' off, 'liga' off;
font-family: "SF Pro Display", "Arial", sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 116.667% */
}
.close-btn{
  transition: all 0.3s ease;
}
.close-btn:hover{
  cursor: pointer;
  background-color: red;
}
/* .form-gpoup {
}
.label {
}
.sponsorship-amount {
}
.radio {
}
.radio-input {
}
.other-sum-label {
}
.radio-label {
}
.input {
}
.other-sum {
}
.input-number {
} */

.filter-sponsors-form__footer{
  display: flex;
  justify-content: end;
  gap: 16px;
}