<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Homiy haqida</title>
      <link rel="stylesheet" href="../../button/button.css" />
      <link rel="stylesheet" href="../../form/form.css" />
      <link rel="stylesheet" href="../../modals/modal.css" />
      <link
         rel="stylesheet"
         href="../../students/student-detail/student-detail.css" />
      <link rel="stylesheet" href="../../../assets/css/style.css" />
      <link rel="stylesheet" href="./sponsor-detail.css" />
   </head>
   <body>
      <div class="sponsor-detail-wrapper">
         <header class="detail-header">
            <span class="">
               <img
                  class="to-back"
                  src="../../../../assets/img/arrow-icons/to-back.svg"
                  alt="" />
               <h2 class="current-student-name">
                  Ishmuhammedov Aziz Ishqobilovich
               </h2>
               <span class="sponsor__status">Tasdiqlangan</span>
            </span>
         </header>
         <main class="detail-main">
            <div class="detail-wrapper">
               <section>
                  <div class="flex justify-between mb-8">
                     <h2 class="main__title">Homiy haqida</h2>
                     <button class="btn btn-ordinary edit-student-btn">
                        <img
                           src="../../../assets/img/crud/edit-icon.svg"
                           alt="Edit Icon" />
                        Tahrirlash
                     </button>
                  </div>

                  <div class="flex gap-5">
                     <img
                        class="sponsor-logo"
                        src="../../../assets/img/sponsor-picture.svg"
                        alt="Picture of Sponsor" />
                     <h3 class="student-name detail-text">
                        Isfandiyorov Iqbol Bobomirzayevich
                     </h3>
                  </div>

                  <div class="education-wrapper">
                     <div class="">
                        <label class="secondary-title">telefon raqam</label>
                        <span class="student__tel-number detail-text"
                           >+998 99 973-72-60</span
                        >
                     </div>
                     <div class="">
                        <label class="secondary-title">OTM</label>
                        <span class="detail-text">Homiylik summasi</span>
                     </div>
                  </div>
               </section>
             
            </div>
         </main>
      </div>
   </body>
</html>
